{% extends 'myapp/base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
<h1>Books</h1>
<div class="books-container">
    <div class="book-grid">
        {% for book in books %}
            <div class="book-item">
                <div class="book-details">
                    <h3>{{ book.title }}</h3>

                    <div class="book-actions">
                        <a href="{% url 'book_detail' book.pk %}" class="btn btn-secondary">View Details</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No books available.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
