{% extends 'myapp/base.html' %}

{% block title %}{{ book.title }}{% endblock %}

{% block content %}
<h1>{{ book.title }}</h1>
<p class="card-text"><strong>Author:</strong> {{ book.author }}</p>
<p class="card-text"><strong>Published Date:</strong> {{ book.published_date }}</p>
<p class="card-text"><strong>ISBN:</strong> {{ book.isbn_number }}</p>

<div class="button-group">
    <a href="{% url 'book_list' %}" class="btn btn-secondary">Back to List</a>
    <div class="right-buttons">
        <a href="{% url 'book_update' book.pk %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}
